// buttons 
.button 
	background: none
	font-family: $sans
	text-transform: uppercase
	letter-spacing: 2px
	font-size: 12px
	padding: 15px 65px 12px 65px
	border: 2px solid #fff
	+animate(background, 400ms)
	&:hover 
		background: #fff
		color: $black
.button.full-width
	width: 100%