// type and links
a 
	+animate(color, 400ms)
h1, h2, h3, h4, h5, h6
	font-family: $sans 
	color: #fff
	font-weight: 700
	text-transform: uppercase 
	letter-spacing: 16px
h1
	// to do
h2
	// to do
h3 
	font-size: 24px
	letter-spacing: 10px
p 
	text-transform: lowercase
	font-weight: 300
