
<perch:before>
	<section id="cars" class="page-hero">
	  <div class="introduction">
	    <h1>Cars</h1>
	    <p>we specialise in muscle cars of the sixties and seventies, both australian and american</p>
	  </div>
	  <img src="img/arrow-down.png" alt="Scroll down" class="scroll-down">
	</section>
	<section class="strip strip-one"></section>
	<section id="car-listing">
</perch:before>
 <a href="?s=<perch:content id="slug" type="slug" />" class="car-link">
   <div class="car-in-list" style="background-image: url(<perch:content id="featured-image" type="image" label="Hero Image" width="1280"/>);">
     <div class="black-overlay">
       <div class="car-details">

         <h3><perch:content id="title" type="text" /></h3>
         <perch:content id="introduction" type="textarea" label="Introduction (Keep it to 25-50 words)" markdown="true" />
       </div>
     </div>
   </div>
 </a>
<perch:after>
</section>
</perch:after>
  



