<perch:form id="car-enquiries" method="post" app="perch_forms">

<perch:success show-form="true">
    <div class="success"><p><strong>Thanks!</strong> Your enquiry has been sent and we'll be in touch soon.</p></div>
</perch:success>
<section id="car" class="car-hero" style="background-image: url(<perch:content id="featured-image" type="image" label="Hero Image" width="1280"/>);">
    <div class="black-overlay">
      <div class="introduction">
        <h1><perch:content id="title" type="text" label="Name of Car" required="true" title="true" /></h1>
        <perch:content id="slug" for="title" type="slug" suppress="true" />
        <perch:content id="introduction" type="textarea" label="Introduction (Keep it to 25-50 words)" markdown="true" />
        <a href="#enquire" class="button scroll">Enquire Now</a>
      </div>
    </div>
  </section>
  <section class="content-section">
    <div class="row medium-4 columns medium-centered">
      <h3>About this car</h3>

      <perch:content id="description" type="textarea" label="Car Description" markdown="true" />
    </div>
  </section>
  <section id="car-slides">
    <div id="slider" class="owl-carousel owl-theme">
      <perch:repeater id="images" label="Car Images">
          <div class="item" style="background-image:url(<perch:content type="image" id="image" label="Image" />);"></div>
      </perch:repeater>
    </div>
  </section>
  <section class="content-section">
    <div class="row">
      <div class="medium-6 columns medium-centered">
        <h3>Make an enquiry</h3>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns medium-centered">
        <a id="enquire"></a>


        
            
            <div class="hide-car-name" style="display: none;">
              <perch:input type="text" id="test" required="true"  supress="true" value="<perch:content id="title" type="text" label="Interested In" required="true" title="true" />"/>
            </div>

            <div>
                <perch:input type="text" id="name" required="true" label="Name" placeholder="Your name"/>
                <small class="error">Please enter your first name.</small>
            </div>

            <div>
                <perch:input type="email" id="email" required="true" label="Email" placeholder="Your email address" />
                <small class="error">Please a valid email address..</small>
            </div>

            <div>
                <perch:input type="textarea" id="message" required="true" label="Message" placeholder="Your message" rows="10" />
                <small class="error">Please enter a message.</small>
            </div>

            <div>
                <perch:input type="submit" id="submit" value="Send" class="button full-width" />
            </div>

            
        </perch:form>
      </div>
    </div>
  </section>